{% extends "base.html" %}
{% block title %}
    {% if my_profile %}
        My profile
    {% else %}
    {{userdata.username}}'s profile
    {% endif %}
{% endblock %}
{% block content %}
<div id="sidebar" class="clearfix">
    <div class="profile-details">
        <div class="gravatar clearfix">
            {% gravatar userdata.email %}
            <h3>{{userdata.username}}</h3>
            {% if my_profile %}
            <a class="" href="{% url accounts_edit %}">Edit my profile details</a>
            {% else %}
            {% if is_following %}
                <a href="{% url accounts_unfollow userdata.username %}">Stop following this user</a>
            {% else %}
                <a href="{% url accounts_follow userdata.username %}" title="when {{userdata.username}} will create a new snippet you will be notified via e-mail ;)">Follow this user</a>
            {% endif %}
            {% endif %}
        </div>
        <p><strong class="label">Location</strong><br /> {{profile.location}}</p>
        <p><strong class="label">URL</strong><br /> {{profile.url|urlize}}</p>
        <p><strong class="label">About</strong><br /> {{profile.about|urlize}}</p>
        {% if my_profile %}
        <p><strong class="label">Private key</strong><br /> <a href="javascript:void(0)" id="show-restkey">click to show private key</a> <span id="the-restkey">{{profile.restkey}}</span> <a href="{% url accounts_refresh_key %}">refresh key</a></p>
        {% endif %}
    </div>
    {% if followed_users %}
    <div class="followed-list">
        <h2>Following {{followed_users.count}} users</h2>
        <div class="followed-users clearfix">
        {% for follower in followed_users %}
            <div class="followed-user"><a href="{% url accounts_user follower.followed_user.username %}" title="{{follower.followed_user.username}}">{% gravatar follower.followed_user.email 24 %}</a></div>
        {% endfor %}
        </div>
        <a href="{% url accounts_following userdata.username %}" class="followed-list-link">view all &raquo;</a>
    </div>
    {% endif %}
    {% if followers %}
    <div class="followed-list">
        <h2>{{followers.count}} followers</h2>
        <div class="followers-users clearfix">
        {% for follower in followers %}
            <div class="followed-user"><a href="{% url accounts_user follower.user.username %}" title="{{follower.user.username}}">{% gravatar follower.user.email 24 %}</a></div>
        {% endfor %}
        </div>
        <a href="{% url accounts_followers userdata.username %}" class="followers-list-link">view all &raquo;</a>
    </div>
    {% endif %}
</div>
<div id="container" class="clearfix">
    <div class="snippet-list">

        <h1>{% if my_profile %}My profile{% else %}Profile of {{userdata.username}}{% endif %}</h1>
        <h2>{% if my_profile %}My snippets{% else %}Snippets posted by {{userdata.username}}{% endif %}</h2>
        {% if snippets %}
            {% for snippet in snippets %}
                <div class="snippet-teaser">
                    <h3><a href="{% url snippets_read snippet.pk %}-{{snippet.title|slugify}}">{{snippet.title}}</a></h3>
                    <p>{{snippet.description}}</p>
                    <p class="snippet-meta">Added on: <em>{{snippet.created_date|date:"d F Y"}}</em>
                    {% if snippet.tags.all %}
                    and tagged with: <em>{% for tag in snippet.tags.all %}<a href="/tag/{{tag}}">{{tag}}</a> {% endfor %}</em>
                    {% endif %}
                    </p>
                    {% if userdata == request.user %}
                    <a class="edit-link" href="{% url snippets_update snippet.pk %}">edit</a>
                    <a class="delete-link" onclick="return confirm('Are you sure?')" href="{% url snippets_delete snippet.pk %}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="empty">No snippets</p>
        {% endif %}
    </div>
    <div class="tag-list">
        <h2>{% if my_profile %}My tags{% else %}{{userdata.username}} tagged snippets with{% endif %}</h2>
        {% if tags %}
        {% for tag in tags %}
            <a href="{% url tag_user tag userdata.username %}">{{tag}}</a>
        {% endfor %}
        {% else %}
        <p class="empty">No tags</p>
        {% endif %}
    </div>
</div>
{% endblock %}
