{% extends "base.html" %}
{% load tagging_tags %}
{% block title%}{% endblock%}
{% block extra_scripts %}
<script type="text/javascript" src="{{MEDIA_URL}}js/swfobject.js"></script>
<script type="text/javascript">
	{% tag_cloud_for_model snippets.snippet as cloud with steps=2 min_count=1 distribution=log %}
	tagcloud = "%3Ctags%3E"
	{% for tag in cloud %}
	tagcloud +='%3Ca href="http://snippify.me/tag/{{tag}}" class="tag-item" style="font-size: {{tag.font_size|add:"10"}}em"%3E{{tag}}%3C%2Fa%3E'
	{% endfor %}
	tagcloud +="%3C%2Ftags%3E"
	params = {
		"wmode": "transparent",
		"quality": "high",
		"bgcolor": "#000000",
		"name": "tagcloudflash",
		"id": "tagcloudflash",
	}
	flashvars = {
		"tcolor": "0xd1e8ff",
		"tcolor2": "0xd1e8ff",
		"hicolor": "0xffffff",
		"tspeed": "100",
		"mode":"tags",
		"tagcloud":tagcloud,
	}
	attributes = {}
	var badBrowser = (/MSIE ((5\.5)|6|7|8)/.test(navigator.userAgent) && navigator.platform == "Win32");
		if (badBrowser) {
			// $('#flashcloud').html(" ");
		} else {
			swfobject.embedSWF("{{MEDIA_URL}}images/tagcloud.swf", "flashcloud", "303", "303", "9.0.0","expressInstall.swf", flashvars, params, attributes);
		}
</script>


{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div id="one-two-three" class="logged clearfix">
{% else %}
<div id="one-two-three" class="clearfix">
<a href="/account/signin/">To post your snippets you need to authenticate using OpenID.</a>
{% endif %}
Write. Simply write or paste your snippet. <br />
Tag. Tag appropriately your new snippet<br />
Share. Share the snippet with your teammates!
</div>
<div id="home-boxes" class="clearfix">
	<div class="left-box box-container clearfix">
		<div class="boxed clearfix">
			<h2>Use snippify.me in</h2>
				<div class="plugins-logos">
					<a href="/plugins/eclipse/" title="Eclipse"><img src="{{MEDIA_URL}}images/eclipse.png" alt="Eclipse" /></a>
					<a href="/plugins/netbeans/" title="Netbeans"><img src="{{MEDIA_URL}}images/netbeans.png" alt="Netbeans" /></a>
					<a href="/plugins/komodo/" title="Komodo"><img src="{{MEDIA_URL}}images/komodo.png" alt="Komodo" /></a>
					<a href="/plugins/firefox/" title="Firefox 3"><img src="{{MEDIA_URL}}images/firefox3.png" alt="Firefox 3" /></a>
				</div>
		</div>
	</div>
	<div class="center-box box-container clearfix">
		<div class="boxed clearfix">
			<h2>Latest snippets</h2>
			{% include "elements/snippet_list.html" %}
		</div>
	</div>
	<div class="right-box box-container clearfix">
		<div class="boxed clearfix">
			<h2>Most used tags</h2>
			<div class="tagcloud clearfix">
				<!--[if gte IE 5]>
					<div class="tag-cloud">
					{% tag_cloud_for_model snippets.snippet as cloud with steps=2 min_count=1 distribution=log %}
					{% for tag in cloud %}
						<a href="/tag/{{tag}}" class="tag-item" style="font-size: {{tag.font_size}}em">{{tag}}</a>
					{% endfor %}
					</div>
				<![endif]-->
				<div id="flashcloud"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
