{% extends "base.html" %}
{% block title %}
	{% if snippet.pk %}
		Edit #{{snippet.pk}}
	{% else %}
		Create snippet
	{% endif %}
{% endblock %}
{% block head %}
{% endblock %}
{% block extra_scripts %}
<script>
    PREVIEW_URL = '{% url snippets_preview %}';
</script>
<script src="{{MEDIA_URL}}js/process_snippet.js"></script>
{% endblock %}

{% block content %}
<h1>
	{% if snippet.pk %}
		Edit <a href="/{{snippet.pk}}">{{snippet.title}}</a>
	{% else %}
		Create snippet
	{% endif %}
</h1>
<form id="process_snippet" action="" method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
{% for field in form %}
    <div class="input clearfix">
		{{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}<p class="help_text">{{ field.help_text }}</p>{% endif %}
    </div>
{% endfor %}
<div class="submit">
	<input type="hidden" name="referer" value="{{referer}}" />
	<input type="submit" class="submit-button save" value="Save" />
	<input type="button" class="submit-button preview" name="preview" value="Preview" />
	{% if snippet.pk %}<input type="submit" name="delete" class="submit-button delete" value="Delete" onclick="return confirm('Are you sure?');" />{% endif %}
</div>
</form>
{% endblock %}
