{% extends "base.html" %}
{% block title %}Search results{% endblock %}
{% block content %}

<div class="snippet-list">
    {% if results %}
    <h1>Search results for '<strong>{{query|escape}}</strong>'</h1>
        {% for hit in results.object_list %}
            <div class="snippet-teaser">
                <h3><a href="/{{ hit.instance.pk }}">{{ hit.instance }}</a></h3>
                <p>{{hit.instance.description}}</p>
                <p class="snippet-meta">Added on <em>{{hit.instance.created_date|date:"d F Y"}}</em>
                by <a href="/accounts/{{ hit.instance.author }}">{{ hit.instance.author }}</a></p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% if results.has_next %}
<a href="/search/?q={{query|escape}}&page={{ results.next_page_number }}">Next page</a>
{% endif %}
{% endblock %}