{% extends "base.html" %}
{% block title %}Error 500: Internal server error{% endblock %}
{% block content %}
<p class="righted"><img src="{{MEDIA_URL}}images/500.png" alt="Error 500: Internal server error" /></p>
<h1>OMG, something really bad happened!</h1>
<h3>There is a glitch in the matrix.</h3><br />
<h3>Something very wrong happened, but the machines will not get to us.</h3><br />
<h3>Don't panic, odd things happen but they will soon be repaired. <br />Please come back in a few minutes. Hopefully, the bytes will align correctly.</h3>

{% endblock %}